/* Mobile */
@media screen and (min-width: 320px) {
  /* Layout */

  .content-container {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-rows: 5em auto auto auto auto auto;
    margin-bottom: 40px;
  }

  .about-header-img, header {
    grid-column: 1 / 4;
    grid-row: 2;
    margin: 0 auto;
  }

  article {
    grid-column: 2 / 3;
    margin: 20px 0;
    width: 90vw;
  }

  .aboutme-1 {
    grid-row: 4;
    margin-top: 60px;
  }

  .aboutme-hello {
    grid-row: 5;
    margin: 10px 0 0 0;
  }

  .aboutme-2 {
    grid-row: 6;
  }

  /* Typography */

  header > h2 {
    font-size: 86px;
    position: relative;
    top: 89%;
  }

  .aboutme-hello > h3 {
    color: #83AA9F;
    font-size: 82px;
  }

  .about-header-img {
    width: 100%;
  }

}

/* Larger Mobile */
@media screen and (min-width: 375px) {

  header > h2 {
    top: 91%;
  }

}

/* Larger Mobile */
@media screen and (min-width: 400px) {

  header > h2 {
    top: 93%;
  }

}

/* Tablet */
@media screen and (min-width: 568px) {

  /* Layout */

  .content-container {
    grid-template-columns: 16px auto auto 16px;
  }

  .about-header-img, header {
    grid-column: 1 / 5;
  }

  article {
    position: relative;
    top: 50px;
    width: 45vw;
  }

  .aboutme-1, .aboutme-hello {
    grid-column: 2 / 3;
    grid-row: 4;
  }

  .aboutme-1 {
    margin-top: 30%;
  }

  .aboutme-2 {
    grid-column: 3 / 4;
    grid-row: 4;
  }

  /* Images */

  .about-header-img {
    content: url("/../images/desktop/selfportrait.png");
  }

  /* Typography */

  .aboutme-hello > h3 {
    font-size: 12vw;
  }

  header > h2 {
    font-size: 115px;
    top: 85%;
  }

}

/* Laptop */
@media screen and (min-width: 1024px) {

  /* Layout */

  .content-container {
    grid-template-columns: 100px auto auto 100px;
    grid-template-rows: 5em auto auto auto auto auto auto;
  }

  .about-header-img {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  header {
    grid-row: 2;
    top: 88%;
  }

  article {
    justify-content: center;
    grid-row: 3 / 5;
    top: 100px;
    width: 335px;
  }

  .aboutme-1, .aboutme-hello {
    margin: 0 20px 0 auto;
  }

  .aboutme-2 {
    margin-left: 20px;
  }

  .aboutme-1 {
    top: 200px;
  }

  /* Typography */

  .aboutme-hello > h3 {
    font-size: 84px;
  }

}

/* Desktop */
@media screen and (min-width: 1440px) {

  /* Typography */

  header > h2 {
    font-size: 150px;
    top: 90%;
  }

}
