/* General */

  /* Styling */

/*.backtotop {
  background-color: transparent;
  border: none;
  display: inline-block;
  position: fixed;
  width: 55px;
}*/

@media screen and (min-width: 320px) {

    /* Layout */

  /*.backtotop {
    display: none;
  }*/

  .content-container {
    display: inline-grid;
    /* 5 */grid-template-columns: 20px 1fr 1fr 1fr 20px;
    /* 32 */grid-template-rows: 80px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    position: relative;
    margin-bottom: 40px;
  }

  header {
    bottom: 30px;
    grid-column: 1 / 6;
    grid-row: 2;
    margin: 0;
    position: relative;
  }

  .headerimg {
    grid-column: 1 / 6;
    grid-row: 2;
    margin-bottom: 30px;
    margin-top: -32px;
    z-index: -1;
  }

  header > h2 {
    text-align: center;
    position: relative;
    top: 92%;
  }

  article.right > h3 {
    text-align: right;
  }

  article > p, ul{
    width: 90vw;
  }

  .primary-ul {
    width: 80vw;
  }

  .secondary-ul {
    width: 70vw;
  }

  article > ul {
    margin-left: 30px;
    width: 300px;
  }

  .chart1, .chart2 {
    grid-column: 1 / 6;
    margin: 10px 0;
  }

  h4 {
    margin: 10px 0;
  }

  .bolded {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .smallerfont {
    font-size: 14px;
  }

  .firstgroup {
    text-align: center;
  }

  .content-container > article > h3 {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .left, .right, .center {
    grid-column: 2 / 5;
  }

  .overview {
    grid-row: 3;
  }

  .problem {
    grid-row: 4;
  }

  .solution {
    grid-row: 5;
  }

  .prototype-button {
    grid-row: 6;
    margin: 30px auto 20px auto;
  }

  .desktop-button {
    display: none;
  }

  .mobile-button {
    display: block;
  }

  .img1 {
    grid-row: 7;
  }

  .brief {
    grid-row: 8;
  }

  .surveys-pt1 {
    grid-row: 9;
  }

  .imgsurveys1 {
    grid-row: 10;
    margin-bottom: 30px;
  }

  .surveys-pt2 {
    grid-row: 11;
  }

  .com-analysis {
    grid-row: 12;
  }

  .personas {
    grid-row: 14;
  }

  .firstpersona {
    grid-row: 13;
  }

  .secondpersona {
    grid-row: 15;
  }

  .persona1, .persona2 {
    margin: 0 auto;
  }

  .stories {
    grid-row: 16;
  }

  .userflow {
    grid-row: 17;
  }

  .flows {
    grid-row: 18;
  }

  .sitemap {
    grid-row: 19;
  }

  .wireframes1 {
    grid-row: 20;
  }

  .wireframes-pt1 {
    grid-row: 21;
  }

  .surveys-rd2 {
    grid-row: 22;
  }

  .imgsurveys2 {
    grid-row: 23;
  }

  .comp-analysis2 {
    grid-row: 24;
  }

  .wireframes2 {
    grid-row: 25;
  }

  .wireframes-pt2 {
    grid-row: 26;
  }

  .prototyping {
    grid-row: 27;
  }

  .branding {
    grid-row: 28;
  }

  .colors {
    grid-row: 29;
  }

  .imgcolors {
    grid-row: 30;
    margin-bottom: 30px;
  }

  .colorspt2 {
    grid-row: 31;
    margin-top: 40px;
  }

  .typography {
    grid-row: 32;
  }

  .styleguide {
    grid-row: 33;
  }

  .logo {
    grid-row: 34;
  }

  .hifimockups {
    grid-row: 35;
  }

  .wireframes-pt3 {
    grid-row: 36;
  }

  .conclusion {
    grid-row: 37;
  }

  p, ul {
    padding-bottom: 20px;
  }

  .secondary-ul {
    padding-bottom: 0;
  }

  /* Images */

  img {
    margin: 30px 0 0 0;
    width: 100%;
  }

  .picture {
    grid-column: 1 / 6;
  }

  .persona1, .persona2 {
    width: 140px;
  }

}

@media screen and (min-width: 568px) {

  /* Case Study */

    /* Layout */

  /*.backtotop {
    display: inline-block;
    position: fixed;
    grid-column-start: 8;
  }*/

  .prototype-button {
    margin: 50px auto 40px auto;
  }

  .desktop-button {
    display: block;
  }

  .mobile-button {
    display: none;
  }

  .content-container {
    /* 36 */grid-template-rows: 5em auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto 100px;
    top: 20px;
  }

  .content-container > article > h3 {
    margin-bottom: 40px;
    margin-top: 30px;
  }

  header {
    grid-column: 2 / 5;
  }

  .headerimg {
    grid-column: 2 / 5;
    margin-top: -70px;
  }

  header > h2 {
    top: 80%;
  }

  article > p, ul, .primary-ul {
    width: 600px;
  }

  .p-right, .p-right>h3 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .chart1, .chart2 {
    grid-column: 2 / 5;
    margin: 30px 0;
  }

  .left {
    grid-column: 2 / 4;
  }

  .right {
    grid-column: 3 / 5;
  }

  .center {
    grid-column: 3;
  }

  .personas {
    grid-column: 3;
    margin: auto 10px;
  }

  .personas > h3 {
    margin: auto;
  }

  .personas > p {
    margin: auto;
  }

  /* Images */

  img {
    margin: 50px 0 0 0;
  }

  .picture {
    grid-column: 2 / 5;
  }

  /* Styling */

  button {
    width: 350px;
  }

  /* Typography */

  p, ul, {
    font-size: 20px;
  }

  header > h2 {
    font-size: 150px;
  }

}

@media screen and (min-width: 1024px) {

  /* Case Study */

    /* Layout */

  .content-container {
    display: inline-grid;
    /* 9 */grid-template-columns: 100px 1fr 2fr 2fr auto 2fr 2fr 1fr 100px;
    /* 33 */grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 0;
    top: 0;
  }

  .content-container > article > h3 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  header {
    grid-column: 2 / 9;
    grid-row: 1;
  }

  .headerimg {
    grid-column: 2 / 9;
    grid-row: 1;
    margin-top: 0;
    z-index: -1;
  }

  header > h2 {
    text-align: center;
    position: relative;
    top: 86%;
  }

  article > h3 {
    width: 700px;
  }

  article > p, ul, .primary-ul {
    width: 600px;
  }

  .left {
    grid-column: 3 / 6;
  }

  .right {
    grid-column: 5 / 8;
  }

  .center {
    grid-column: 5 / 6;
  }

  .chart1, .chart2 {
    grid-column: 2 / 9;
  }

  .overview {
    margin-top: 50px;
  }

  .img1 {
    grid-column: 2 / 9;
  }

  .personas {
    grid-row: 14;
    margin: auto 30px;
  }

  .personas > h3 {
    margin: 0;
  }

  .personas > p {
    margin: 0;
  }

  /*.persona1 {
    grid-column: 3;
    grid-row: 13;
    margin-right: 10px;
  }

  .persona1-info {
    grid-column: 2 / 4;
    grid-row: 14;
  }

  .persona1-info > h4 {
    text-align: center;
  }

  .persona1-info > p {
    width: 350px;
  }

  .persona2 {
    grid-column: 6;
    grid-row: 16;
    margin-left: 10px;
  }

  .persona2-info {
    grid-column: 5 / 8;
    grid-row: 17;
  }

  .persona2-info > h4 {
    text-align: center;
  }

  .persona2-info > p {
    width: 350px;
  }*/

  .userflow {
    grid-column: 2 / 9;
  }

  .sitemap {
    grid-column: 2 / 9;
  }

  .wireframes-pt1 {
    grid-column: 2 / 9;
  }

  .wireframes-pt2 {
    grid-column: 2 / 9;
  }

  .wireframes-pt3 {
    grid-column: 2 / 9;
  }

  .imgcolors {
    grid-column: 2 / 9;
  }

  .styleguide {
    grid-column: 2 / 9;
  }

  /* Images */

  img {
    grid-column: inherit;
    width: 100%;
  }

  /* Typography */

  p, ul {
    font-size: 18px;
  }

}

@media screen and (min-width: 1440px) {

  /* Case Study */

    /* Layout */

  .content-container > article > h3 {
    margin-top: 50px;
  }

  article > h3 {
    width: 700px;
  }

  article > p, ul, .primary-ul {
    width: 700px;
  }

  picture {
    grid-column: inherit;
    margin: 50px 0 40px 0;
    width: 100%;
  }

}
