/* General */

  /* Styling */

body {
  width:
}

a {
  text-decoration: none;
}

  /* Typography */

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  text-transform: uppercase;
}

p, ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  list-style: none;
}

/* Mobile */
@media screen and (min-width: 375px) {

  /* Layout */

  .header-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
  }

  h1 {
    grid-column: 1 / 3;
    width: inherit;
  }

  /* Typography */

  h1 {
    font-size: 210px;
    line-height: 0px;
  }

  h2 {
    font-size: 98px;
    line-height: 72px;
  }

  nav > h2{
    font-size: 112px;
  }

  h3 {
    font-size: 44px;
  }

  p, ul {
    font-size: 18px;
  }

}

/* Desktop */
@media screen and (min-width: 1199px) {

  /* Layout */

  .header-container {
    display: grid;
    grid-template-column: 100px auto auto auto 100px;
  }

  h1 {
    grid-column: 2 / 5;
  }

  /* Typography */

  h1 {
    font-size: 363px;
    line-height: 0px;
  }

  h2 {
    font-size: 150px;
  }



}
