/* General */
  /* Colors */

a, .hello {
  color: #FF5953;
}

  /* Styling */

a {
  font-weight: 600;
  text-decoration: none;
}

ul {
  list-style: none;
}

  /* Typography */

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  text-transform: uppercase;
}

p, ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
}

/* Mobile */
@media screen and (min-width: 375px) {

  /* Layout */

  .header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
  }

  h1 {
    grid-column: 1 / 3;
    width: inherit;
    overflow-x: hidden;
  }

  .intro-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    justify-content: center;
  }

  .hello {
    font-size: 54px;
    grid-column-end: 7;
    grid-row-start: 1;
    margin: 0px;
    transform: rotate(60deg);
    width: 127px;
  }

  .description {
    grid-column-end: 2;
    grid-row: 2 / 5;
    margin: 0px;
    text-align: right;
    transform: rotate(-30deg);
    width: 220px;
  }

  /* Typography */

  h1 {
    font-size: 210px;
    line-height: auto;
  }

  h2 {
    font-size: 98px;
    line-height: 72px;
  }

  nav > h2{
    font-size: 112px;
  }

  h3 {
    font-size: 44px;
  }

  p, ul {
    font-size: 18px;
  }

}

/* Tablet */
@media screen and (min-width: 768px) {

  /* Layout */

}

/* Desktop */
@media screen and (min-width: 1199px) {

  /* Layout */
    /* Homepage */

  .header-container {
    display: grid;
    grid-template-columns: 100px auto auto auto 100px;
  }

  h1 {
    grid-column: 2 / 5;
    overflow-x: visible;
  }

  .hidden-break {
    display: none;
  }

  .intro-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
  }

  .hello {
    grid-column-start: 9;
    grid-row-start: 2;
    margin: 0px;
    transform: rotate(60deg);
    width: auto;
  }

  .description {
    grid-column-start: 1;
    grid-row-start: 4;
    text-align: right;
    transform: rotate(-30deg);
    width: 245px;
  }

    /* Case Study */

  .content-container {
    display: grid;
    /* 9 */grid-template-columns: 100px 100px 200px 200px auto 200px 200px 100px 100px;
  }

  article {
    width: 600px;
  }

  .center {
    align-items: center;
    grid-column: 5;
  }

  .left {
    grid-column: 3 / 6;
  }

  .right {
    grid-column: 4 / 7;
  }

  .right > h3 {
    text-align: right;
  }

  /* Typography */

  h1 {
    font-size: 363px;
    line-height: 0px;
  }

  h2 {
    font-size: 150px;
  }

  nav > h2 {
    font-size: 150px;
  }

  h3 {
    font-size: 54px;
  }

}
