/* General */

  /* Colors */

a, .hello {
  color: #FF5953;
}

h2 {
  color: #FF5953
}

  /* Styling */

a {
  font-weight: 600;
  text-decoration: none;
}

button {
  background-color: #F8F8F8;
  border-radius: 50px;
  height: 50px;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
}

.primary-ul {
  list-style: disc;
}

.secondary-ul {
  list-style: circle;
  margin-left: 30px;
}

  /* Typography */

button, .menu-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.backtotop {
  font-size: 9px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  text-transform: uppercase;
}

img, p, ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  line-height: normal;
}

.menu-button {
  font-size: 9px;
}

/* Projects Carousel */

.flickity-enabled {
  position: relative;
  top: 1024px;
  left: 100px;
}


.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
}

.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 2px;
  width: 40px;
  margin: 30px;
  border-radius: 0;
}

/* Mobile */
@media screen and (min-width: 375px) {

  /* Layout */

  .header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
  }

  h1 {
    grid-column: 1 / 3;
    width: inherit;
    overflow-x: hidden;
  }

  .intro-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 25px 25px 25px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    justify-content: center;
    transform: rotate(-30deg);
  }

  .hello {
    font-size: 54px;
    grid-column-end: 8;
    grid-row-start: 3;
    margin: 0px;
    transform: rotate(90deg);
    width: 127px;
  }

  .description {
    grid-column-start: 1;
    grid-row: 2;
    margin: 0px;
    text-align: right;
    width: 220px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 100px 200px 200px auto 200px 200px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }

  .featured-project, .secondary-project, .tertiary-project {
    grid-column: 1 / 8;
    grid-row: 1 / 9;
  }

  .featured-project, .secondary-project, .tertiary-project {
    display: grid;
    grid-template-columns: 200px 200px auto 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }

  .first-project-img, .second-project-img, .third-project-img {
    grid-column: 1 / 6;
  }

  .featured-project > h2, .casestudy-description, .casestudy-button {
    align-content: center;
    grid-column: 3;
    position: relative;
    top: -40px;
  }

  .featured-project > h2 {
    grid-row: 4 / 5;
    justify-content: center;
  }

  .featured-project > .casestudy-description {
    grid-row: 6 / 7;
    position: relative;
    top: -50px;
    width: 359px;
  }

  .featured-project > .casestudy-button {
    grid-row: 7 / 8;
  }

  .secondary-project > h2, .casestudy-description, .casestudy-button {
    align-content: center;
    grid-column: 3;
    position: relative;
    top: -40px;
  }

  .secondary-project > h2 {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    justify-content: center;
  }

  .secondary-project > .casestudy-description {
    grid-row: 6 / 7;
    position: relative;
    top: -50px;
    width: 359px;
  }

  .secondary-project > .casestudy-button {
    grid-row: 7 / 8;
  }

  .tertiary-project > h2, .casestudy-description, .casestudy-button {
    align-content: center;
    grid-column: 3;
    position: relative;
    top: -40px;
  }

  .tertiary-project > h2 {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    justify-content: center;
  }

  .tertiary-project > .casestudy-description {
    grid-row: 6 / 7;
    position: relative;
    top: -50px;
    width: 359px;
  }

  .tertiary-project > .casestudy-button {
    grid-row: 7 / 8;
  }

  .backtotop {
    display: none;
  }

  /* Styling */

  button {
    width: 335px;
  }

  /* Typography */

  h1 {
    font-size: 210px;
    line-height: auto;
  }

  h2 {
    font-size: 98px;
    line-height: 72px;
  }

  nav > h2{
    font-size: 112px;
  }

  h3 {
    font-size: 44px;
  }

  p, ul {
    font-size: 18px;
  }

  .menu-button {
    font-size: 9px;
  }

}

/* Tablet */
@media screen and (min-width: 768px) {

  /* Layout */

}

/* Desktop */
@media screen and (min-width: 1199px) {

  /* Layout */

  body {
    margin-bottom: 100px;
  }

  ul {
    margin-left: 30px;
  }

    /* Homepage */

  .header-container {
    display: grid;
    grid-template-columns: 100px auto auto auto 100px;
  }

  h1 {
    grid-column: 2 / 5;
    overflow-x: visible;
    position: relative;
    top: 125px;
  }

  .hidden-break {
    display: none;
  }

  .main-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 824px 100px 100px 824px;
  }

  .intro-container {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    left: 150px;
  }

  .projects-container {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .intro-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    justify-content: center;
    transform: rotate(-30deg);
    width: 400px;
  }

  .intro-container {
    position: relative;
    top: 450px;
    left: 50%;
  }

  .hello {
    grid-column: 7;
    grid-row-start: 2;
    margin: 0px;
    transform: rotate(90deg);
    width: auto;
  }

  .description {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: right;
    width: 245px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 100px 200px 200px auto 200px 200px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }

  .featured-project, .secondary-project, .tertiary-project {
    grid-column: 1 / 8;
    grid-row: 1 / 9;
  }

  .featured-project, .secondary-project, .tertiary-project {
    display: grid;
    grid-template-columns: 200px 200px auto 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  }

  .first-project-img, .second-project-img, .third-project-img {
    grid-column: 1 / 6;
  }

  .featured-project > h2, .casestudy-description, .casestudy-button {
    align-content: center;
    grid-column: 3;
    position: relative;
    top: -40px;
  }

  .featured-project > h2 {
    grid-row: 4 / 5;
    justify-content: center;
  }

  .featured-project > .casestudy-description {
    grid-row: 6 / 7;
    position: relative;
    top: -50px;
    width: 359px;
  }

  .featured-project > .casestudy-button {
    grid-row: 7 / 8;
  }

  .secondary-project > h2, .casestudy-description, .casestudy-button {
    align-content: center;
    grid-column: 3;
    position: relative;
    top: -40px;
  }

  .secondary-project > h2 {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    justify-content: center;
  }

  .secondary-project > .casestudy-description {
    grid-row: 6 / 7;
    position: relative;
    top: -50px;
    width: 359px;
  }

  .secondary-project > .casestudy-button {
    grid-row: 7 / 8;
  }

  .tertiary-project > h2, .casestudy-description, .casestudy-button {
    align-content: center;
    grid-column: 3;
    position: relative;
    top: -40px;
  }

  .tertiary-project > h2 {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    justify-content: center;
  }

  .tertiary-project > .casestudy-description {
    grid-row: 6 / 7;
    position: relative;
    top: -50px;
    width: 359px;
  }

  .tertiary-project > .casestudy-button {
    grid-row: 7 / 8;
  }

  .backtotop {
    position: relative;
    right: 24px;
    top: 60%;
  }

  #backtotop {
    opacity: 0;
    visibility: hidden;
  }

    /* Menu */

  .sidebar-opacity {
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    z-index: 1;
  }

  #menu {
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 0;
  }

  #menu {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 100px 100px 200px auto 200px;
  }

  #menu > h2 {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  #menu > ul {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  #menu > #menu-button-close {
    align-content: center;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

  .menu-button {
    display: grid;
    align-items: center;
    grid-template-rows: 16px 16px;
    justify-content: center;
    transform: rotate(-90deg);
    z-index: 2;
  }

  .menu-button > svg {
    grid-row: 1;
  }

  .menu-button > p {
    font-size: 13px;
    grid-row: 2;
  }

  /* Typography */

  h1 {
    font-size: 363px;
    line-height: 0px;
  }

  h2 {
    font-size: 150px;
  }

  nav > h2 {
    font-size: 400px;
  }

  h3 {
    font-size: 54px;
  }

  #menu > ul {
    line-height: 119px;
  }

  /* Images */

  .first-project-img {
    content: url(../images/desktop/headphones.png);
  }

  .second-project-img {
    content: url(../images/desktop/cassette.png);
  }

  /* Carousel */

  .flickity-enabled {
    width: 1240px;
  }

}
