@media screen and (min-width: 320px) {

  /* Layout */

  .personas {
    grid-row: 13;
  }

  .firstpersona {
    grid-row: 14;
  }

  .secondpersona {
    padding-top: 50px;
  }

  .thirdpersona {
    grid-row: 16;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .stories {
    grid-row: 17;
  }

  .userstories {
    grid-row: 18;
  }

  .userflow {
    grid-row: 19;
  }

  .flows {
    grid-row: 20;
  }

  .sitemap {
    grid-row: 21;
  }

  .wireframes1 {
    grid-row: 22;
  }

  .wireframes-pt1 {
    grid-row: 23;
    margin-bottom: 30px;
  }

  .surveys-rd2 {
    grid-row: 24;
  }

  .wireframes-pt2 {
    grid-row: 25;
  }

  .imgsurveys2 {
    grid-row: 26;
  }

  .comp-analysis2 {
    grid-row: 27;
  }

  .design-mockups {
    grid-row: 28;
    margin-bottom: 30px;
  }

  .wireframes2 {
    grid-row: 29;
  }

  .prototyping {
    grid-row: 30;
  }

  .brand-img {
    grid-row: 31;
  }

  .typography2 {
    grid-row: 32;
  }

  .type-img {
    grid-row: 33;
  }

  .table {
    grid-column: 2 / 5;
  }

  /* Typography */

  h2 {
    font-size: 17vw;
  }

}

@media screen and (min-width: 400px) {

  .firstpersona:before {
    margin: 60px 0 0 17%;
  }

  .secondpersona:before {
    margin: 100px 0 0 10%;
  }

  .thirdpersona:before {
    margin: 60px 0 0 17%;
  }

}

@media screen and (min-width: 568px) {

  .picture {
    margin-top: -30px;
  }

  .type-img {
    margin-bottom: -90px;
  }

  .firstpersona:before {
    margin: 60px 0 0 170px;
  }

  .secondpersona:before {
    margin: 80px 0 0 150px;
  }

  .thirdpersona:before {
    margin: 60px 0 0 170px;
  }

  .table {
    grid-column: 4 / 6;
  }

  header > h2 {
    font-size: 17vw;
  }

}

@media screen and (min-width: 1024px) {

  .type-img {
    margin-bottom: 0px;
  }

  .firstpersona:before {
    margin: 60px 0 0 250px;
  }

  .secondpersona:before {
    margin: 80px 0 0 220px;
  }

  .thirdpersona:before {
    margin: 60px 0 0 250px;
  }

  header > h2 {
    font-size: 150px;
  }

}
